# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignoring Python venv
bin/*
lib/*
lib64
pyvenv.cfg

# Ignoring build folder
build/*

# Ignoring vscode
.vscode/

# Ignoring clangd cache folder
.cache/clangd

temp.txt
